{{template "header.html"}}
{{template "header_close.html"}}
{{template "navbar.html" .}}

<div class="container">
      <br />
{{if eq .Data "quota"}}
	<p>Has excedido el maximo de colectivos que puedes crear. Solo se pueden crear 4 colectivos cada 3 meses. Si tienes alguna razón importante para crear mas contacta con la asamblea de sindominio para ver si pueden hacer algo. O si no esperate unas semanas a ver si vuelves a poder crear colectivos.</p>

{{else}}
      <h3>Crea un colectivo</h3>
	 <form action="/collectives/add/" method="post">
          <div class="form-group">
            <label for="collective">Nombre:</label>
            <input type="text" class="form-control {{if eq .Data "exists" "invalid"}}is-invalid{{end}}" id="collective" name="collective" placeholder="Nombre">
               {{if eq .Data "invalid"}}<div class="invalid-feedback">El nombre del colectivo es invalido. Tiene que tener al menos 3 caracteres, empezar por letra o numero y solo puede contener letras minusculas, numeros, '_', '-' o '.'.</div>{{end}}
               {{if eq .Data "exists"}}<div class="invalid-feedback">Este nombre ya existe en sindominio como una cuenta o colectivo, elige otro diferente.</div>{{end}}
	  </div>
          <div class="form-group">
            <label for="collective">Description:</label>
            <textarea class="form-control" id="description" name="description"></textarea>
	  </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Crear</button>
          </div>
        </form>
{{end}}
</div>

{{template "footer.html"}}
