{{template "header.html"}}
{{template "extra_script_password_validator.html"}}
{{template "header_close.html"}}

    <div class="container">
      <br />
      <h1 class="row justify-content-center">Crear cuenta</h1>

      <br />
      <div class="row justify-content-center">
	<div class="col-md-8">
        <p>Estás a punto de entrar a formar parte de las amigas de SinDominio. Rellenando este formulario puedes crear una cuenta en sindominio que te permitirá acceder a muchos servicios (como email, jabber o matrix).</p>
	<p>SinDominio no es como otros servidores. Está mantenido por tus vecinas sindominantes cuya preocupación es proteger tus datos en vez de hacer negocio con ellos.</p>
	<p>Date una vuelta por <a href="https://wp.sindominio.net/sd_info/">nuestra pagina sobre el proyecto</a> para aprender como funcionamos y como colaborar.</p>
        </div>
      </div>

      <br />
      <div class="row justify-content-center">
        <form class="col-sm-4" id="needs-validation" method="post">
          <div class="form-group">
            <label for="name">Nombre de usuaria:</label>
            <input type="text" class="form-control {{if eq .Data "exists" "invalid"}}is-invalid{{end}}" id="name" name="name" placeholder="Nombre">
               {{if eq .Data "invalid"}}<div class="invalid-feedback">El nombre de usuaria es invalido. Tiene que tener al menos 3 caracteres, empezar por letra o numero y solo puede contener letras minusculas, numeros, '_', '-' o '.'.</div>{{end}}
               {{if eq .Data "exists"}}<div class="invalid-feedback">La usuaria ya existe.</div>{{end}}
          </div>
          <div class="form-group">
            {{template "passwd-tips.html"}}

            <label for="password">Contraseña:</label>
            <div id="pass-tip" style="color:red"></div>
            <input type="password" class="form-control {{if eq .Data "invalidPass"}}is-invalid{{end}}" id="password" name="password" placeholder="Contraseña">
               {{if eq .Data "invalidPass"}}<div class="invalid-feedback">Password invalida, usa solo caracteres ASCII.</div>{{end}}
	    <div class="progress">
		<div id="StrengthProgressBar" class="progress-bar"></div>
	    </div>
          </div>
          <div class="form-group">
            <label for="password2">Repite la contraseña:</label>
            <input type="password" class="form-control {{if eq .Data "WrongPass"}}is-invalid{{end}}" id="password2" name="password2" placeholder="Contraseña">
            <div class="invalid-feedback">No has introducido la misma contraseña.</div>
          </div>
          <button id="cambiapass" type="submit" class="btn btn-primary">Crear</button>
        </form>
      </div>
    </div>

{{template "load-password.js"}}
{{template "footer.html"}}
