{{template "header.html"}}
{{template "header_close.html"}}
{{template "navbar.html" .}}

{{ $webURL := "https://sindominio.net" }}
{{ $giteaURL := "https://git.sindominio.net" }}
{{ $repoButton := true }}
{{ $err_msg := "" }}
{{ $err_description := "" }}

	<div class="container">
		<div class="col-xs-12 col-md-9 col-lg-6" style="margin: 3em auto;">
{{ if not .Data }}
			<h1 class="row justify-content-center" >Crear repositorio web</h1>
			</br>
			<p class="row justify-content-center" style="text-align: justify;">
			Desde aquí puedes crear un repositorio git que incluye un sitio hugo. Cada edición del repositorio reconstruye una web estática que se despliega automáticamente en tu espacio web en {{ $webURL }}/{{ .User }}.<br>
			</p>

			<div class="row justify-content-center">
				<form class="" action="/gitea/" method="post" novalidate>
					<div class="form-group">
						<label for="reponame">Nombre del repo</label>
						<input type="" id="reponame" name="reponame" placeholder="Nombre del repositorio">
					</div>
					<div class="form-group" style="margin-bottom: 2em;">
						<p>La web se desplegará en:</p>
						<input type="radio" id="userfolder" name="folder" value="userfolder" checked="checked">
						<label for="userfolder">{{ $webURL }}/{{ .User }}/</label><br>
						<input type="radio" id="usersubfolder" name="folder" value="usersubfolder">
						<label for="usersubfolder">{{ $webURL}}/{{ .User }}/nombre_del_repo/</label><br>
					</div>
					<div style="display: flex; justify-content: center;">
						<button class="btn btn-primary" type="submit" class="btn btn-primary justify-content-center" style="width:80%;" name="mode" value="createrepo">Crear repositorio y desplegar web</button>
					</div>
					<p class="row justify-content-center" style="font-size:0.9em; margin-top:10px;"><span style="color:red;"> ¡ATENCIÓN!&nbsp; </span><i>Si el repo ya existe será sobreescrito.</i><p>
					<div style="display: flex; justify-content: center;">
						<button class="btn btn-primary" type="submit" class="btn btn-primary justify-content-center" style="width:80%;" name="mode" value="setfolder">Sólo desplegar web</button>
					</div>
					<p class="row justify-content-center" style="font-size:0.9em; margin-top:10px;"><i>No se creará/borrará el repositorio, sólo se desplegará el repo web existente en la opción seleccionada.</i><p>
				</form>
			</div>


{{ else }}
				<h3  class="" style="text-align: center;">
		{{ if eq .Data.ExitStatus "err_repo_empty" }}
				No has definido el repo en el formulario. 
		{{ else if eq .Data.ExitStatus "repo-nonexistent" }}
				El repo no existe en gitea, quizás lo borraste o nunca lo has creado.
		{{ else if eq .Data.ExitStatus "repocreated-userfolder" }}
				El repositorio se ha creado en tu cuenta de gitea.
		{{ else if eq .Data.ExitStatus "repocreated-usersubfolder" }}
				El repositorio se ha creado en tu cuenta de gitea, y se desplegará en subcarpeta web.
		{{ else if eq .Data.ExitStatus "userfolder" }}
				Modo subcarpeta desactivado.
		{{ else if eq .Data.ExitStatus "usersubfolder" }}
				Modo subcarpeta activado.
		{{ else if eq .Data.ExitStatus "err_gitea_connection" }}
				Error: no se puede conectar al servidor git.
		{{ else if eq .Data.ExitStatus "err_gitea_user" }}
				Error: tu cuenta no existe en el gestor de repositorios. Logueate allí primero y vuelve a intentarlo.
		{{ else if eq .Data.ExitStatus "err_webhook_connection" }}
				Error: El host web no responde, o quizás lowry no puede acreditarse allí.
		{{ else }}
				Algo salió mal.
		{{ end }}
				</h3>
		{{ if .Data.RepoName }}
				<div style="margin-top: 2em;">
					<p style='text-align: center;'>
					Puedes acceder al repositorio con tus credenciales y editarlo.<br>
					<a href="{{ $giteaURL }}/{{ .User }}/{{ .Data.RepoName }}">{{ $giteaURL }}/{{ .User }}/{{ .Data.RepoName }}</a>
					</p>
					<p style='text-align: center;'>
					La web la puedes ver en:<br>
					<a href="{{ $webURL }}/{{ .User }}/{{ if or (eq .Data.ExitStatus "repocreated-usersubfolder") (eq .Data.ExitStatus "usersubfolder") }}{{ .Data.RepoName }}/{{ end }}">{{ $webURL }}/{{ .User }}/{{ if or (eq .Data.ExitStatus "repocreated-usersubfolder") (eq .Data.ExitStatus "usersubfolder") }}{{ .Data.RepoName }}/{{ end }}</a>
					</p>
					<p style='text-align: center;'>
					Puedes añadir (o modificar) contenido a tu web incluyendo tus textos en ficheros dentro de la carpeta content/post/ del repositorio. Tienes más información para empezar a usar tu web en los enlaces de ayuda.
					</p>
				</div>
			

		{{ end }}

		
				
			<div class="box flex justify-content-center" style="display: flex; margin-top: 2em;">
				<div class="" style="color:#fff; background-color: #007BFF;border-radius:0.25rem; margin-left:4px;">
					<a href="/gitea/" style="text-align: center; color:#FFF; display: block; padding: 1em;">VOLVER</a>
				</div>
	{{ if .Data.RepoName }}
				<div class="" style="color:#fff; background-color: #007BFF;border-radius:0.25rem; margin-left:4px;">
					<a href="{{ $giteaURL }}/{{ .User }}" style="text-align: center; color:#FFF; display: block; padding: 1em;">REPOSITORIOS</a>
				</div>
	{{ end }}
	{{ if or (.Data.RepoName) (eq .Data.ExitStatus "err_gitea_user")  }}
				<div class="" style="color:#fff; background-color: #007BFF;border-radius:0.25rem; margin-left:4px;">
					<a href="{{ $webURL }}/{{ .User }}/{{ if or (eq .Data.ExitStatus "repocreated-usersubfolder") (eq .Data.ExitStatus "usersubfolder") }}{{ .Data.RepoName }}/{{ end }}" style="text-align: center; color:#FFF; display: block; padding: 1em;">WEB</a>
				</div>
	{{ end }}
			</div>
{{ end }}

			<hr style="border-top:2px solid #ccc; margin: 2em 0;">
			<p>AYUDAS:</p>
			<ul>
				<li><a href="https://sindominio.net/trastienda/manuales/web_git/">Webs estáticas con git en SinDominio</a></li>
				<li><a href="https://sindominio.net/trastienda/manuales/conectar_home/">Cómo conectarme a mi home (ssh, sftp)</a></li>
				<li><a href="https://sindominio.net/trastienda/manuales/markdown_intro/">Markdown</a></li>
			</ul>
		</div> <!-- end col-sm -->
	</div> <!--end container -->
	
{{template "footer.html"}}
