{{template "header.html"}}
{{template "header_close.html"}}
{{template "navbar.html" .}}


  {{with .Data}}
    <div class="container">
      <br />
      <h1 class="row justify-content-center">Clave OpenPGP</h1>
      <br />

      {{if .Success}}
	<div class="alert alert-success" role="alert">
	Tu clave OpenPGP ha sido actualizada con exito
	</div>
      {{end}}
      
      {{if not .Fingerprint}}
	<p>Si tienes una clave <a href="https://es.wikipedia.org/wiki/Pretty_Good_Privacy">OpenPGP</a> asociada a {{if .Collective}}este colecitov{{else}}tu cuenta de Sindominio{{end}} añadela aqui. Así otras presonas pueden encontrar tu clave directamente desde su cliente de email, usando el protocolo <a href="https://tools.ietf.org/id/draft-koch-openpgp-webkey-service-12.html">WKD</a>.</p>
      {{else}}
	<p>La clave OpenPGP configurada en sindominio es: {{.Fingerprint}}<br />
	{{if .Expiry}}
	Con fecha expiración: {{.Expiry}}
	{{end}}
	</p>
      {{end}}

      <div class="row justify-content-center">
	<form class="col-sm-10" action="{{if .Collective}}/collective/{{.Collective}}{{end}}/openpgp/" method="post" novalidate>
          <div class="form-group">
            <label for="key">Clave OpenPGP:</label>
		<textarea class="form-control {{if .Error}}is-invalid{{end}}" id="key" name="key" placeholder="Clave OpenPGP" rows="10">{{.Key}}</textarea>
               {{if eq .Error "invalid"}}<div class="invalid-feedback">No es una clave OpenPGP valida.</div>{{end}}
               {{if eq .Error "no-identity"}}<div class="invalid-feedback">La clave OpenPGP no esta asociada a tu dirección de email.</div>{{end}}
               {{if eq .Error "expired"}}<div class="invalid-feedback">La clave OpenPGP introducida ha expirado.</div>{{end}}
          </div>
          <button type="submit" class="btn btn-primary">Actualizar clave</button>
        </form>
      </div>
    </div>
  {{end}}

{{template "load-password.js"}}
{{template "footer.html"}}
